<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart$ | async">
                <td>{{item.name}}</td>
                <td>{{item.mass | currencyChange}}</td>
            </tr>
        </tbody>
    </table>
    <div class="totalContainer">
        <p class="total">
            <strong>Total:<span>{{total$ | async | currencyChange}}</span></strong>
        </p>
    </div>
</div>